{
    "token": "",
    "response_reaction": "🍉",
    "disabled_cat": {},
    "divider": [],
    "supporter": {},
    "games": {
        "counting": {
            "channel": ""
        },
        "main": {
            "channel": ""
        }
    }
}
